* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

body {
    margin: 0 10%;
    padding: 0 0 20px 0;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-width: 350px;
}

img {
    width: 200px;
    height: 200px;
}

figcaption {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 700px) {
    #container {
        flex-flow: row wrap;
    }

    img {
        width: 300px;
        height: 300px;
    }
}